*{
	margin:0;
	padding: 0;
}
.container{
	width: 320px;
	height: 430px;
	border:1px solid #ddd;
	background-color: #fff;
	margin:10px auto;
	position: relative;
	.box{
		position: relative;
		opacity: 0;
	}
	.buddy{
		position: absolute;
		width: 96px;
		height: 96px;
		background-color: red;
		border-radius:50%;
		left: 50%;
		margin-left: -48px;
		top: 214px;
		margin-top: -48px;

	}
	.inner{
		text-align: center;
		margin-top: 236px;
		span{
			font-size: 14px;
			color: #b4b4b4;
			display: inline-block;
			margin-top: 5px;
		}
	}
	.btn{
		width: 90%;
		height: 45px;
		line-height: 45px;
		margin-top: 45px;
		background-color: #5677fc;
		color: #fff;
		border-radius:3px;
		display: inline-block;
		cursor: pointer;
		transition: background-color 0.2s;
		&:hover{
			background-color: #3b50ce;
		}
	}
	.pop{
		position: absolute;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		text-align: center;
		.close{
			position: absolute;
			top: 0;
			right: 10px;
			color: #999;
			font-size: 24px;
			font-family: helvetica;
			cursor: pointer;
			&:hover{
				color: #111;
			}
		}
		h3{
			margin-top: 15px;
		}
		span{
			display: block;
			font-size: 12px;
			color: #999;
            margin-top: 20px;
            margin-bottom: 30px;
		}
		img{
			display: inline-block;
			width:125px;
			height: 125px;
			margin: 10px;
		}
	}
}








