@mixin cheakerboard($size,$base,
	$accent:rgba(0,0,0,.25)) {
	background: $base;
	background-image:
	linear-gradient(45deg,
		$accent 25%,transparent 0,
		transparent 75%,$accent 0),
	linear-gradient(45deg,
		$accent 25%,transparent 0,
		transparent 75%,$accent 0);
	background-size:2*$size 2*$size;
	background-position: 0 0, $size $size;
}
@keyframes ants{to {background-position:100%}}
.box{
	width: 200px;
	height: 200px;
	margin:10px auto;
	padding:1em;
	border:1px solid transparent;
	background: linear-gradient(white,white) padding-box,
	repeating-linear-gradient(-45deg,
		black 0,black 25%,white 0,white 50%
		) 0 / .6em .6em;
	animation: ants 12s linear infinite;
}
