.picture{
	width: 300px;
	margin:70px auto;
	img{
		-webkit-clip-path: polygon(50% 0,100% 50%,
			50% 100%, 0 50%);
		transition: 1s -webkit-clip-path;
		&:hover{
			-webkit-clip-path: polygon(0 0,100% 0,
				100% 100%, 0 100%);
		}
	}
}
